@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.AuthenticationFailed>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<div class="container d-flex flex-column align-items-center mt-auto">

    <h1>Please Click The Button Below To Try Again</h1>
    <a class="btn btn-primary" href="/register/">Try Again</a>

</div>

