@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<!-- Main Container-->
<div class="container">

    <div class="row section">
        <div class="col-md-12">

            <h2>Why Umbraco is a great fit for you as a developer</h2>
            <p>Are you looking for a CMS that’ll give you full flexibility? 
                A CMS that doesn’t get in the way of things but instead lets you unfold your talent, ideas and creations in order to build websites that’ll impress - or simply just work as intended. 
                All while keeping your editor, boss or client happy? Then look no further. 
                With Umbraco, you get a clean slate Open Source ASP.NET CMS so you can <span class="font-weight-bold">build and extend your website exactly the way you need to.</span></p>
            <p>We’ve got over 225,000 active developers in our worldwide Umbraco community, who have already embraced the powers and joys of using a flexible CMS.</p>

            <ul>
                <li>A flexible CMS - do things your way</li>
                <li>Neat and clean in order to provide you with power</li>
                <li>Integrate and extend as much as you want</li>
                <li>How to become an Umbraco developer</li>
                <li>Access to support from Umbraco HQ developers</li>
                <li>The page ALL Umbraco developers have bookmarked</li>
                <li>Our friendly Open Source community</li>
                <li>A helping (time-saving!) hand: Umbraco Cloud</li>
                <li>How to continue your Umbraco journey</li>
            </ul>

        </div>				
    </div>
</div>

